[Unit]
Description=Browser Recall Service
After=network.target

[Service]
Type=simple
User=zetaphor
WorkingDirectory=/home/zetaphor/browser-recall
ExecStart=/usr/bin/python3 /home/zetaphor/Code/browser-recall/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target