fastapi
uvicorn
sqlalchemy
jinja2
python-multipart
aiofiles
websockets
beautifulsoup4
markdown
python-iso8601
pytz
browser-history
beautifulsoup4>=4.9.3
markdownify
pyyaml>=6.0.1
pytz
websockets==11.0.3
iso8601==2.1.0
lxml>=4.9.3